body {
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(to right top, rgb(26, 132, 231), rgb(187, 24, 24));
}

#formContainer {
  text-align: center;
  color: aliceblue;
  display: none;
}

#header {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.26);
  padding: 20px;
  text-align: center;
}

.letter-header {
  background-color: rgba(0, 0, 0, 0.26);
  text-align: center;
  color: aliceblue;
}

#hero-cards {
  display: flex;
  flex-direction: column;
}
#battle-group-section{
  display: none;
  flex-direction: column;
}

#battle-group-header{
  flex-basis: 100%;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.26);
  padding: 20px;
  text-align: center;
}
#battle-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.cardSpace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.alignmentGood, .alignmentBad {
  border: 15px solid rgb(241, 235, 226);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  width: 350px;
  height: auto;
  /* margin-bottom: 10px; */
}

.alignmentGood, .alignmentBad>* {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.alignmentGood {
  background: linear-gradient(to left bottom, blue, aliceblue);
}

.alignmentBad {
  /* color: aliceblue; */
  background: linear-gradient(to left bottom, red, aliceblue);
}

.upperCard {
  color: aliceblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.alignment {
  border-radius: 10px;
  background-color: black;
  padding: 8px;
  flex: 1 1 25%;
  margin-right: 5px;
}

.publisher {
  border-radius: 10px;
  background-color: black;
  text-align: right;
  padding: 8px;
  flex: 1 1 25%;
}

.middleCard {
  color: aliceblue;
  background-color: black;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 10px;
  width: 100%;
}

.lowerCard {
  background-color: rgba(240, 248, 255, 0.384);
}

.characterImage {
  justify-self: center;
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.imageText {
  height: 80%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  background-color: aliceblue;
}